<div class="container1">
			
			

			<div class="box">
				<h1><%= @name %></h1>
				<p>
				<div>
					<div id="header1">
						<h2>
							<a href="index.html"><%= @header %></a>
						</h2>
						<p id="tagline1">
							<strong>Header Tagline</strong>
						</p>
					</div>
					<h1>H1: Lorem ipsum dolor sit amet</h1>
					<h2>H2: Lorem ipsum dolor sit amet</h2>
					<h3>H3: Lorem ipsum dolor sit amet</h3>
					<h4>H4: Lorem ipsum dolor sit amet</h4>
					<h5>H5: Lorem ipsum dolor sit amet</h5>
					<h6>H6: Lorem ipsum dolor sit amet</h6>
				</div>
				<p>Eget nunc orci turpis minim sed vel. Volutpat urna sit tellus
					sapien. Quis aliquet viverra mi tristique elit cumque, eu blandit
					magna, integer sed metus id leo congue fusce.</p>
				<p>
					Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et
					curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at
					in velis tincidunt pellentum tincidunt vel lorem.
				</p>
				<div class="clear"></div>
				<p>
					Temperinte interdum sempus odio urna eget curabitur semper
					convallis nunc laoreet. Nullain convallis ris <a href="#"><strong>elis
							vest liberos nis diculis</strong></a> feugiat in rutrum.
					Suspendreristibulumfaucibulum lobortor quis tortortor ris sapien
					sce enim et volutpat sus.
				</p>
				<p>
					Urnaretiumorci orci <strong>fauctor leo justo nulla cras
						ridiculum</strong> eu id vitae. Etnon et dolor auctor eu loreet fring
					temper pend pede integestibus.
				</p>
				<p>Portortornec condimenterdum eget consectetuer condis
					consequam pretium pellus sed mauris enim. Puruselit mauris nulla
					hendimentesque elit semper nam a sapien urna sempus.</p>
				<br />
				<div class="clear"></div>

				<br />

				<div class="clear"></div>
			</div>


		</div>