#error_explanation li{
	color: red;
}

.field_with_errors{
	color: red;
}

.read_more {
	float: right;
}
.boxheader {
	height: 30%;
	overflow: hidden;
}
.boxheader h2 {
	vertical-align: middle;
}
.boxcontent{
	height: 70%;
	overflow: hidden;
	p{
		height: 100%;
		overflow: hidden;
	}
}
.field_with_errors{
	display: inline;
}