<%= content_for :content do %>
<div class="container1">
	<div class="box">
		<%= yield %>
	</div>
</div>



<% if can? :manage, Page %>
<div class="container1">
<!-- TODO: Disable for Users -->
# <%= link_to 'edit', edit_page_path(@page) %> 
</div>

	<% end %>
<% end %>
<%= render template: 'layouts/application' %>